/* //!STARTERCONF TODO */

.red {
  --tw-color-primary-50: 254 242 242;
  --tw-color-primary-100: 254 226 226;
  --tw-color-primary-200: 254 202 202;
  --tw-color-primary-300: 252 165 165;
  --tw-color-primary-400: 248 113 113;
  --tw-color-primary-500: 239 68 68;
  --tw-color-primary-600: 220 38 38;
  --tw-color-primary-700: 185 28 28;
  --tw-color-primary-800: 153 27 27;
  --tw-color-primary-900: 127 29 29;
  --tw-color-primary-950: 69 10 10;
  --color-primary-50: rgb(var(--tw-color-primary-50)); /* #fef2f2 */
  --color-primary-100: rgb(var(--tw-color-primary-100)); /* #fee2e2 */
  --color-primary-200: rgb(var(--tw-color-primary-200)); /* #fecaca */
  --color-primary-300: rgb(var(--tw-color-primary-300)); /* #fca5a5 */
  --color-primary-400: rgb(var(--tw-color-primary-400)); /* #f87171 */
  --color-primary-500: rgb(var(--tw-color-primary-500)); /* #ef4444 */
  --color-primary-600: rgb(var(--tw-color-primary-600)); /* #dc2626 */
  --color-primary-700: rgb(var(--tw-color-primary-700)); /* #b91c1c */
  --color-primary-800: rgb(var(--tw-color-primary-800)); /* #991b1b */
  --color-primary-900: rgb(var(--tw-color-primary-900)); /* #7f1d1d */
  --color-primary-950: rgb(var(--tw-color-primary-950)); /* #450a0a */
}

.blue {
  --tw-color-primary-50: 239 246 255;
  --tw-color-primary-100: 219 234 254;
  --tw-color-primary-200: 191 219 254;
  --tw-color-primary-300: 147 197 253;
  --tw-color-primary-400: 96 165 250;
  --tw-color-primary-500: 59 130 246;
  --tw-color-primary-600: 37 99 235;
  --tw-color-primary-700: 29 78 216;
  --tw-color-primary-800: 30 64 175;
  --tw-color-primary-900: 30 58 138;
  --tw-color-primary-950: 23 37 84;
  --color-primary-50: rgb(var(--tw-color-primary-50)); /* #eff6ff */
  --color-primary-100: rgb(var(--tw-color-primary-100)); /* #dbeafe */
  --color-primary-200: rgb(var(--tw-color-primary-200)); /* #bfdbfe */
  --color-primary-300: rgb(var(--tw-color-primary-300)); /* #93c5fd */
  --color-primary-400: rgb(var(--tw-color-primary-400)); /* #60a5fa */
  --color-primary-500: rgb(var(--tw-color-primary-500)); /* #3b82f6 */
  --color-primary-600: rgb(var(--tw-color-primary-600)); /* #2563eb */
  --color-primary-700: rgb(var(--tw-color-primary-700)); /* #1d4ed8 */
  --color-primary-800: rgb(var(--tw-color-primary-800)); /* #1e40af */
  --color-primary-900: rgb(var(--tw-color-primary-900)); /* #1e3a8a */
  --color-primary-950: rgb(var(--tw-color-primary-950)); /* #172554 */
}
